.claude
.vscode
/bin/*
bin/*
bin
bin/_main.42r
bin/cl101_mast.42f
bin/dl101_mast.42f
bin/dl101_mast.42m
bin/dl130_trans.42f
bin/pu130_order.42f
bin/pu131_grn.42f
bin/sa130_quote.42m
bin/sa131_order.42f
bin/sa132_invoice.42f
bin/sa133_crn.42m
bin/st101_mast.42f
bin/st101_mast.42m
bin/st102_cat.42f
bin/st120_enq.42f
bin/st120_enq.42m
bin/st130_trans.42f
bin/st130_trans.42m
bin/start_app.42m
bin/wh101_mast.42f
